# Python
__pycache__
*.pyc
*.egg-info
dist
.venv
.fastchat

# Log
*.log
*.log.*
*.json
!playground/deepspeed_config_s2.json
!playground/deepspeed_config_s3.json

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output
checkpoints_flant5_3b
checkpoints

# Data
*.pkl
*.csv
tests/state_of_the_union.txt
outputs/*
checkpoints/*

# Build
build